<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="njust.dzh.libraryreservation">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryReservation">
        <activity android:name=".Activity.StepActivity"></activity>
        <activity android:name=".Activity.StudentActivity" />
        <activity android:name=".Activity.CheckActivity" />
        <activity android:name=".Activity.ThirdFloorActivity" />
        <activity android:name=".Activity.SecondFloorActivity" />
        <activity android:name=".Activity.FirstFloorActivity" />
        <activity android:name=".App.MainActivity" />
        <activity android:name=".App.LoginActivity" />
        <activity android:name=".App.RegisterActivity" />
        <activity android:name=".App.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>